# Programming Assignment 5
### Eric Schneider
##### Version 1
##### CS-150 Fall 2021 Semester

### A. Language Translator - write a program that implements a translation dictionary using a Python dictionary data structure that maps 20 English words to 20 words in another language (e.g. Spanish, German, Farsi, Arabic, Japanese, etc.). The keys in your dictionary should be English (all lower case) and your values should be in your target language (also all lower case). Your program should ask for words in English to translate to your target language until the user enters the number zero (0).

In [30]:
spanish_translator={'bed':'cama',
                    'ball':'pelota',
                    'activity':'actividad',
                    'moment':'momento',
                    'one':'uno',
                    'ability':'capacidad',
                    'sword':'espada',
                    'word':'palabra',
                    'world':'mundo',
                    'game':'juego',
                    'happy':'feliz',
                    'sad':'triste',
                    'queen':'reina',
                    'king':'rey',
                    'wish':'deseo',
                    'cat':'gato',
                    'september':'septiembre',
                    'october':'octubre',
                    'november':'noviembre',
                    'december':'deciembre',}

def translate():
    while True:
        word=input('enter a word to translate.')
        if word!='0':
            try:
                spanish_translator[word]
            except:
                print('The word you entered is not in this dictionary.')
            else:
                print(spanish_translator[word])
        else:
            return
translate()

enter a word to translate.ball
pelota
enter a word to translate.water
The word you entered is not in this dictionary.
enter a word to translate.september
septiembre
enter a word to translate.one
uno
enter a word to translate.0

### B. Temperature converter- create a weather dictionary that will contain temperature data at month of September of Louisville, Kentucky. The key will be the day of the month and the value will be the temperature in Fahrenheit. 
### 1. Access each temperature values which is in Fahrenheit from the dictionary and convert it to Celsius and return to the original dictionary. 
### 2. Find the coolest and second warmest day of the month (tip: think how to get list from dict and use list functions)

In [53]:
temperatures={1:82,
              2:81,
              3:81,
              4:81,
              5:77,
              6:84,
              7:84,
              8:79,
              9:77,
              10:89,
              11:82,
              12:86,
              13:88,
              14:86,
              15:79,
              16:81,
              17:86,
              18:86,
              19:84,
              20:75,
              21:77,
              22:61,
              23:68,
              24:73,
              25:70,
              26:75,
              27:82,
              28:84,
              29:86,
              30:82}

def f_to_c():
    for items in temperatures:
        temperatures[items]=(temperatures[items]-32)*5/9
    return temperatures
def c_to_f():
    for items in temperatures:
        temperatures[items]=(temperatures[items]*9/5)+32
    return temperatures
print(f_to_c())
print('\n',c_to_f(),'\n')
temp_keys=list(temperatures.keys())
temp_values=list(temperatures.values())
temp_values.pop(temp_values.index(max(temp_values)))
print(f'The coolest day of the month was september {temp_keys[temp_values.index(min(temp_values))]} with a temperature of {min(temp_values)} degrees.')
print(f'The second warmest day of the month was september {temp_keys[temp_values.index(max(temp_values))]} with a temperature of {max(temp_values)} degrees.')

{1: 27.77777777777778, 2: 27.22222222222222, 3: 27.22222222222222, 4: 27.22222222222222, 5: 25.0, 6: 28.88888888888889, 7: 28.88888888888889, 8: 26.11111111111111, 9: 25.0, 10: 31.666666666666668, 11: 27.77777777777778, 12: 30.0, 13: 31.11111111111111, 14: 30.0, 15: 26.11111111111111, 16: 27.22222222222222, 17: 30.0, 18: 30.0, 19: 28.88888888888889, 20: 23.88888888888889, 21: 25.0, 22: 16.11111111111111, 23: 20.0, 24: 22.77777777777778, 25: 21.11111111111111, 26: 23.88888888888889, 27: 27.77777777777778, 28: 28.88888888888889, 29: 30.0, 30: 27.77777777777778}

 {1: 82.0, 2: 81.0, 3: 81.0, 4: 81.0, 5: 77.0, 6: 84.0, 7: 84.0, 8: 79.0, 9: 77.0, 10: 89.0, 11: 82.0, 12: 86.0, 13: 88.0, 14: 86.0, 15: 79.0, 16: 81.0, 17: 86.0, 18: 86.0, 19: 84.0, 20: 75.0, 21: 77.0, 22: 61.0, 23: 68.0, 24: 73.0, 25: 70.0, 26: 75.0, 27: 82.0, 28: 84.0, 29: 86.0, 30: 82.0}

The coolest day of the month was september 21 with a temperature of 61.0 degrees.
The second warmest day of the month was september 12 with a temperature of 88.0 degrees.

### C. Methods for sets

I. systemattic difference(^): Takes two sets and returns only the values that are unique between both of the designated sets. Order of sets does not affect the overall outcome.

In [1]:
set1={1,2,3,4,5,6,7,8,9}
set2={1,2,3,4,7,8,11,43}
print(set1^set2)

{5, 6, 9, 11, 43}

II. isdisjoint(): Returns true if the designated sets are disjointed, meaning they share no entries with each other.

In [2]:
set1={1,2,3,4,5}
set2={6,7,8,9,10}
print(set1.isdisjoint(set2))

True

III. intersection_update(&=): Updates the designated list to include values which exist in both of the given sets.

In [7]:
set1={1,2,3,4,5,6,7,8,9}
set2={1,2,3,4,11,12,13}
set1&=set2
print(set1)

{1, 2, 3, 4}

IV. symmetric_difference (^=): Updates the designated set to only include unique values between the given sets.

In [8]:
set1={1,2,3,4,5,6,7,8,9}
set2={1,2,3,4,5,8,9,11,12}
set1^=set2
print(set1)

{6, 7, 11, 12}

V. revove(): Removes a designated value frm the given set. Must give the value as sets do not utilize indexing. Will result in an error if the value is not in the set

In [12]:
set1={1,2,3,4,5,6,7,8,9}
set1.remove(1)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9}

VI. discard(): Removes a designated value from a given set. Must give the value as sets do not utilize indexing. Will not result in an error if the value is not in the set.

In [14]:
set1={1,2,3,4,5,6,7,8,9}
set1.discard(1)
set1.discard(1)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9}

.pop(): Removes the designated value from the given set with the ability to designate it as its own entity. Takes no arguments and will always pop the first entity in the set.

In [20]:
set1={1,2,3,4,5,6,7,8,9}
set1.pop()
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9}